body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(22, 129, 236);
  color: rgb(255, 255, 255);
}

.container {
  width: 60%;
  margin: 10% auto;
}

.ListItems {
  background: rgb(255, 255, 255);
  color: rgb(22, 129, 236); 
}
.ListItems p {
  margin: 0;
  text-align: center;
  padding: 10px 0px;
}

.ListItems span {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border: 0.3px solid #ccc 
}


.ListItems span.title {
  background: rgb(22, 129, 236);
  color: rgb(255, 255, 255); 
  
}

.ListItems span.name , form input [type=text] {
  width: 60%;

}
.ListItems span.age , form input [type=text] {
  width: 30%;
  
}

.ListItems span.action , form input [type=submit] {
  width: 10%;
  
}

 .form-name  {
    width: 60%;
    background: rgb(22, 129, 236);
    color: rgb(255, 255, 255); 
    font-size: 20px;
    border: 0.3px solid #ccc 
}
.form-age {
  width: 40%;
  background: rgb(22, 129, 236);
  color: rgb(255, 255, 255); 
  font-size: 20px;
  border: 0.3px solid #ccc 
}

.ListItems span.icon {
  color: red;
  cursor:pointer;
}